#master{
    margin-top:20px;
    position:relative;
    text-shadow: 2px 2px 1px black;
    width: 90%;
    height: 40%;
    padding:10px;
    overflow: hidden;
    border:1px inset gold;
    border-radius: 16px;
    background-color: rgba(77, 48, 48, 0.575);
}

h2{
    color :gold;
    margin:0;
    border-bottom:1px solid gold;
}

.li{
    position:relative;
    width:100% - 24px;
    text-align: initial;
}

.marina-li{
    text-align: initial;
}

#scrollzin li {
  list-style: none;
  position: relative;
  padding-left: 24px; /* espaço pro GIF */
}

.li::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 18px;
  height: 26px;
  mask-image: url('../assets/pngegg.png');
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;

  background-color: gold;
}

.marina-li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 24px;
  height: 24px;
  background-image: url('../assets/sickle.gif'); /* coloque o gif em public/estrela.gif */
  background-size: cover;
  background-repeat: no-repeat;
}

#scrollzin{
    padding:0;
    margin:0;
    height: 222px;
    overflow-y: auto;
}

#messaginha{
    color:white;
}

#marinaPremium{
    border-radius:15px;
    color: gold;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
#roleState{
    color:gold;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.marina-style{
    font-style:italic;
    font-weight: bolder;
    font-size:18px;
    border: 2px dotted black;
    border-radius: 18px;
    color:black;
    text-shadow: 1px 1px 2px gold;
    background-color: rgba(255, 0, 0, 0.5);
}

.cheficon{
    position:relative;
    width:18px;
    height: auto;

}