#master{
    margin-top:20px;
    position:relative;
    text-shadow: 2px 2px 1px black;
    width: 90%;
    height: 40%;
    padding:10px;
    overflow: hidden;
    border:1px inset gold;
    border-radius: 16px;
    background-color: rgba(77, 48, 48, 0.575);
}

h2{
    color :gold;
    margin:0;
    border-bottom:1px solid gold;
}

li{
    position:relative;
    width:250px;
    text-align: initial;
}

#scrollzin{
    margin:0;
    height: 222px;
    overflow-y: auto;
}

#messaginha{
    color:white;
}

#marinaPremium{
    color: rgb(255, 83, 111);
    text-shadow: 2px 2px 1px rgb(35, 124, 197);
}
#roleState{
    color:gold;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}